/* ==========================================================================
   TABLES
   ========================================================================== */

   #shipped-title {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    font-size: $type-size-6;
    border-collapse: collapse;
    overflow-x: auto;
    
    & + table {
        margin-top: 1em;
    }
}

#shipped-title thead {
    background-color: $border-color;
    border: 0;
  }
  
  #shipped-title th {
    padding: 0.2em;
    font-weight: bold;
    text-align: left;
  }
  
  #shipped-title td {
    padding: 0.2em;
    border: 0;
  }
  
  #shipped-title tr,
  td,
  th {
    vertical-align: middle;
  }

  #shipped-title tr:nth-child(even) {background-color: #f2f2f2;}