.large__avatar {
    display: table-cell;
    vertical-align: top;
    width: 36px;
    height: 36px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }
  
    img {
      border-radius: 50%;
  
      @include breakpoint($large) {
        padding: 5px;
        border: 1px solid $border-color;
      }
    }
  }

  .video-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: column;
  }
  .video-grid-cell {
    border: 1px solid #ccc;
  }
  .video-grid-container iframe{ /*change according to your need*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }